<div class="row">
    <div class="col">
        <form (ngSubmit)="onSubmit()" [formGroup]='signupForm'>
            <div class="form-group">
                <label for="username">Felhasználónév</label>
                <input class="form-control" formControlName="username" type="text">
                <label for="password">Jelszó</label>
                <input class="form-control" formControlName="password" type="password">
            </div>
            <button [disabled]="!signupForm.valid" type="submit" class="btn btn-success">Regisztrálás</button>
        </form>
    </div>
</div>
